<%= render 'layouts/flash_messages'%>

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3 shadow p-5 mb-5 bg-white rounded">

      <div class="text-center mb-4">
        <h2 class="font1">Sign Up</h2>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group">
          <%= f.label :name, class: 'font-weight-bold' %><br />
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email, class: 'font-weight-bold' %><br />
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :sex, class: 'font-weight-bold' %><br />
          <%= f.radio_button :sex, :male %>
          <%= f.label :sex, "Male", {value: :male} %>
          <%= f.radio_button :sex, :female, class: 'ml-2' %>
          <%= f.label :sex, "Female", {value: :female} %>
        </div>

        <div class="form-group">
          <%= f.label :language, class: 'font-weight-bold' %><br />
          <%= f.radio_button :language, :japanese %>
          <%= f.label :language, "Japanese", {value: :Japanese, style: "display: inline-block;"} %>
          <%= f.radio_button :language, :english, class: 'ml-2' %>
          <%= f.label :language, "English", {value: :English, style: "display: inline-block;"} %>
        </div>

        <div class="form-group">
          <%= f.label :image, class: 'font-weight-bold' %><br />
          <%= f.file_field :image, class: 'form-control-file' %>
        </div>
        <br>

        <div class="form-group">
          <%= f.label :password, class: 'font-weight-bold' %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, class: 'font-weight-bold' %><br />
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </div>

        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="btn-lg">
              <%= f.submit "Sign up", class: 'font-weight-bold btn btn-success btn-block' %>
            </div>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>