<div class="card-parent container mt-5">
  <% if current_user.language == 'English' %>
    <% @japanese.each do |j| %>
      <%= link_to user_path(j) do %>
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <% if j.image? %>
            <img width="100" height="100" src="<%= j.image.url %>" class="rounded mb-1">
          <% else %>
            <%= image_tag "/assets/default.jpg", size: '100x100', class: "rounded mb-1" %>
          <% end %>
          <h4>
            <%= j.name %>
          </h4>
          <p><%= j.intro %></p>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <% @english.each do |e| %>
      <%= link_to user_path(e) do %>
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <% if e.image? %>
            <img width="100" height="100" src="<%= e.image.url %>" class="rounded mb-1">
          <% else %>
            <%= image_tag "/assets/default.jpg", size: '100x100', class: "rounded mb-1" %>
          <% end %>
          <h4>
            <%= e.name %>
          </h4>
          <p><%= e.intro %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>