名前：<%= @user.name %><br>
Login: <%= time_ago_in_words(@user.current_sign_in_at) %> ago
<%= render 'relationships/follow_button', user: @user %>
<% if @user.image? %>
  <img width="60" height="60" src="<%= @user.image.url %>" >
<% else %>
  <%= image_tag "/assets/default.jpg", size: '60x60' %>
<% end %>

<% unless @user == current_user %>
  <% if @isRoom == true %>
    <button class="button is-rounded">
      <%= link_to room_path(@roomId) do %>
        <span class="icon">
          <i class="far fa-envelope"></i>
        </span>
        <span class="has-text-weight-bold">メッセージ</span>
      <% end %>
    </button>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, value: @user.id %>
      <% end %>
      <%= button_tag(type: 'submit', class: 'button is-rounded') do %>
        <span class="icon">
          <i class="far fa-envelope"></i>
        </span>
        <span class="has-text-weight-bold">メッセージ</span>
      <% end %>
    <% end %>
  <% end %>
<% end %>