<div class="row">
  <aside class="col-sm-4">
    <%= form_with(model: @post, local: true) do |f| %>
      <div class="form-group">
        <%= f.text_area :content, class: 'form-control', rows: 5 %>
      </div>
      <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
    <% end %>
  </aside>
</div>


<% @posts.each do |p| %>
  <%= p.content %>
  <%= p.user.name %>
  <% if current_user == p.user %>
    <%= link_to "Delete", p, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
  <% end %>
  <br>
<% end %>